name: Test
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            shell: bash
          - os: ubuntu-latest
            shell: sh
          - os: ubuntu-latest
            shell: pwsh
          - os: macos-latest
            shell: bash
          - os: macos-latest
            shell: sh
          - os: windows-latest
            shell: pwsh
          - os: windows-latest
            shell: cmd
          - os: windows-latest
            shell: bash
    runs-on: ${{ matrix.os }}
    env:
      HOST: 127.0.0.1
      NODE_ENV: test
      PORT: 3000
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Print variables
        run: npx varlock load
      - name: Run script
        run: node print-env.js
      - name: Run tests
        run: npm test
        env:
          NODE_OPTIONS: --test-reporter node-test-github-reporter
      - name: Print OS info
        if: failure()
        run: npx envinfo --system --languages --binaries --npmPackages
